# Imports

In [1]:
import numpy as np
import pandas as pd

# Loading

In [5]:
df = pd.read_csv("/home/data/ull.csv")
df = df.set_index("id_student")
df

/tmp/ipykernel_523/416373339.py:1: DtypeWarning: Columns (171,172,390) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/home/data/ull.csv")

,id_student_original,id_year,id_grade,id_class_group,id_school,id_student_16_19,id_school_16_19,student_questionnaire,principals_questionnaire,family_questionnaire,...,p331a,p331b,p331c,p331d,p331e,p331f,p331g,p331j,pfc,rep
id_student,,,,,,,,,,,,,,,,,,,,,
1,33613.0,2016,3,A,2415.0,14374.0,569.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19294.0,2016,3,A,1842.0,8001.0,273.0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19587.0,2016,3,NaN,1432.0,8142.0,82.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29985.0,2016,3,A,2280.0,12800.0,505.0,1,1,1,...,2.0,2.0,3.0,2.0,3.0,3.0,NaN,NaN,NaN,NaN
5,6982.0,2016,3,A,2040.0,2606.0,390.0,1,1,1,...,4.0,NaN,4.0,4.0,4.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83853,2500.0,2019,6,B,1278.0,NaN,271.0,1,1,0,...,4.0,4.0,4.0,4.0,4.0,NaN,5.0,3.0,10.0,2.0
83854,5784.0,2019,6,A,1079.0,NaN,78.0,1,1,1,...,3.0,4.0,4.0,4.0,4.0,NaN,5.0,4.0,3.0,2.0
83855,7708.0,2019,6,X,1486.0,3036.0,459.0,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83856,18965.0,2019,6,B,1036.0,9913.0,36.0,1,1,1,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,8.0,1.0
83857,7652.0,2019,6,A,1173.0,5539.0,169.0,1,1,1,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,2.0